{% extends "base.html" %}

{% block body %}
<header class="topbar">
  <div class="brand">
    <div class="brandTitle">Scheduling</div>
    <div class="brandSub">Self-hosted course request + approvals</div>
  </div>
  <div class="modeButtons">
    <button id="studentModeBtn" class="modeBtn">Student</button>
    <button id="teacherModeBtn" class="modeBtn">Teacher</button>
    <button id="counselorModeBtn" class="modeBtn">Counselor</button>
  </div>
</header>

<main class="page">
  {% include "partials/student_panel.html" %}
  {% include "partials/teacher_panel.html" %}
  {% include "partials/counselor_panel.html" %}
</main>
{% endblock %}

{% block scripts %}
<script>
  const MAX_ACADEMIC_COURSES = {{ max_academic|int }};
  const MAX_ELECTIVE_CHOICES = {{ max_elective|int }};
</script>
<script src="/static/main.js"></script>
<!-- teacher description editor (adds editing behavior to course blocks) -->
<script src="/static/teacher-description.js"></script>
{% endblock %}