{% extends "base.html" %}

{% block body %}
<header class="topbar">
  <div class="brand" style="display:flex;align-items:center;">
    <!-- Place an icon image at /static/img/icon.png (see instructions below) -->
    <img src="/static/img/icon.png" alt="School logo" class="brandIcon" style="width:42px;height:42px;margin-right:10px;border-radius:6px;object-fit:cover;"/>
    <div>
      <div class="brandTitle">Acadiana Renaissance Charter Academy Internal Scheduling Tool</div>
      <div class="brandSub">Strong Minds - Good Hearts</div>
    </div>
  </div>
  <div class="modeButtons">
    <button id="studentModeBtn" class="modeBtn">Student</button>
    <button id="teacherModeBtn" class="modeBtn">Teacher</button>
    <button id="counselorModeBtn" class="modeBtn">Counselor</button>
  </div>
</header>

<main class="page">
  {% include "partials/student_panel.html" %}
  {% include "partials/teacher_panel.html" %}
  {% include "partials/counselor_panel.html" %}
</main>
{% endblock %}

{% block scripts %}
<script>
  const MAX_ACADEMIC_COURSES = {{ max_academic|int }};
  const MAX_ELECTIVE_CHOICES = {{ max_elective|int }};
</script>
<script src="/static/main.js"></script>
{% endblock %}